    

    body {
    
        display: grid;
        height: 100vh;
        background-repeat: no-repeat;
        background-color: coral;
        background: linear-gradient(90deg, #edc0bf 0,#c4caef 58%);
        font-family: 'Inter', sans-serif;
    }

    .introduction {
        
        margin-top: 18px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    h1 {

        text-align: center;
        
    }

    .video-container {
            
        width: 100%;
        height: 33rem;
        display: flex;
        flex-direction: column;
        max-width: 70 rem;
        margin: 2rem;

    }
    .space {

    margin-top: 32px;
    }

    p {
        text-align: center;
        font-size:  18px;
        font-weight: 400;
    }

    p {

        justify-content: center;
        
    }
        
    .info {
    
        display:  inline-block;
        text-align: center;
        width: 30%;
        vertical-align: top;
    }

    .rodape {

        position: absolute;
        bottom: 1rem;
        justify-self: center;
        text-align: center;
        padding: 1rem 2rem;

    }
    

    @media and (max-width: 480px) {
        .text {
          font-size: 16px;
        }
      }